.container{
    width: 120rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
    gap: 3rem;
}
.emptyCartMessage {
    width: 120rem;
    margin: 0 auto;
  text-align: center;
  padding: 10rem 0;
}

.emptyCartMessage h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.emptyCartMessage p {
  color: #555;
  font-size: 1.6rem;
}
.order{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content img{
  width: 30rem;
  margin-bottom: -5rem;
}
.content h1 {
  font-size: 3.4rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.content p {
  color: #555;
  font-size: 1.6rem;
  width: 50rem;
  line-height: 1.6;
  text-align: center;
}
.order button {
  margin-top: 3rem;
    width: 20rem;
    padding: 1.4rem 2.4rem;
    border: none;
    background-color: #000;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    color: #fff;
    transition: 0.1s all ease-in-out;
}
.order button:hover{
    background-color: #444;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}