@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Albert Sans';
}

html,
body {
  max-width: 100vw;
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.Toastify__toast-body,
.Toastify__close-button,
.Toastify__progress-bar[aria-label="notification timer"] {
    font-size: 1.5rem !important; 
}